.title {
font-size: 20px;
font-weight: 600;
}

.container {
background: #f1f1f1;
border: 1px solid rgba(0, 0, 0, 0.05);
border-radius: 4px;
}

.container .each-product {
border-bottom: 1px solid rgba(0, 0, 0, 0.05);
overflow: hidden;
height: 40px;
}

.container .each-product:hover {
background: rgba(0, 0, 0, 0.05);
}

.container .each-product .product__title {
font-size: 16px;
font-weight: 500;
padding: 10px 15px;
display: inline-block;
}

.container .each-product .product__buttons-container {
float: right;
height: 100%;
}

.container .each-product .product__buttons-container .product__button {
float: left;
cursor: pointer;
display: inline-block;
width: 40px;
height: 100%;
text-align: center;
padding: 10px 0;
}

.container .each-product .product__buttons-container .product__button:hover {
background: rgba(0, 0, 0, 0.05);
}

.container .each-product .product__buttons-container .product__button.hidden {
display: none;
}

.next-button {
float: right;
height: 35px;
padding: 0 20px;
margin-top: 25px;
font-size: 14px;
border-radius: 4px;
border: 1px solid rgba(0, 0, 0, 0.05);
outline: none;
cursor: pointer;
background: #f1f1f1;
}

.next-button:hover {
background: rgba(0, 0, 0, 0.05);
}
